header {
    background-color: black;
    background-image: url('../images/termProject/banner.png');
    height: 100px;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    width: 100%;
}

header nav {
    float: right;
    padding-top: 30px;
    padding-right: 50px;
    color: white;
    font-size: xx-large;
}

a {
    color: white;
    font-variant: small-caps;
    text-decoration: none;
}

a:hover {
    color: red;
}

#allPage {
    margin-left: auto;
    margin-right: auto;
    width: 99.9%;
}

.mission {
    float: right;
    width: 500px;
    padding-right: 100px;
    font-size: large;
}

#info {
    height: 450px;
    background-color: black;
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2c2c2c, #404040, #555555);
    padding-top: 35px;
    padding-left: 50px;
    color: white;
}

#info img {
    padding-right: 2px;
}

#about {
    height: 650px;
    background-color: black;
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2c2c2c, #404040, #555555);
    padding-top: 35px;
    padding-left: 50px;
    color: white;
}

.aboutSec {
    float: left;
    width: 700px;
    font-size: 16pt;
}

#about img {
    padding-right: 50px;
    float: right;
}

#feedback {
    height: 480px;
    background-color: black;
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2c2c2c, #404040, #555555);
    padding-top: 35px;
    padding-left: 20px;
    color: white;
    text-align: center;
    font-size: 16pt;
}

.column {
    float: left;
    height: 300px;
}

.left,
.right,
.middle {
    width: 30%;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 20px;
}

#footer {
    padding: 20px;
    height: 100px;
    background-color: black;
    color: #888888;
    text-align: center;
}

.heading {
    text-align: center;
    height: 50px;
    background-color: black;
    color: white;
    font-size: xx-large;
    font-variant: small-caps;
}

.flex-container {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
}

.flex-container div {
    background-color: white;
    margin: 20px;
    padding: 10px;
}

hr {
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
}

.description {
    text-align: center;
    background-color: #000000;
    padding: 10px;
}

#properties {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.houseDetails {
    display: flex;
    flex-wrap: wrap;
}

.houseInfo {
    margin-left: 30px;
}

.houseImage {
    margin-left: 10px;
    padding-bottom: 10px;
}

.houseInfo {
    width: 400px;
}

.price {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 420px;
}

.propTitle {
    font-size: 20pt;
}

.propAdd {
    font-size: 14pt;
}

.subdivision {
    font-size: 14pt;
}

.propInfo {
    list-style-type: none;
    list-style-type: none;
    padding-left: 0px;
}

h1 {
    padding-left: 10px;
}

.propDetails {
    width: 800px;
    float: left;
    flex: 50%;
    border: 1px black solid;
    padding-right: 10px;
}

.propDetails p {
    padding-left: 10px;
}

.houseInfo li {
    font-size: large;
    border: 1px dotted black;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    width: 100px;
}

.tdCategory {
    padding: 10px;
    width: 150px;
    font-weight: bold;
}

.tdDescription {
    width: 600px;
    color: gray;
}

.mainInfo {
    display: flex;
    flex-wrap: wrap;
}

.mainInfo div {
    margin: 10px;
}

.extraProperties {
    border: 1px black solid;
}

.slider {
    width: 700px;
    height: 480px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 4200px;
    background-color: pink;
    height: 480px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target~.image-container {
    left: 0px;
}

#slide-2:target~.image-container {
    left: -700px;
}

#slide-3:target~.image-container {
    left: -1400px;
}

#slide-4:target~.image-container {
    left: -2100px;
}

#slide-5:target~.image-container {
    left: -2800px;
}

#slide-6:target~.image-container {
    left: -3500px;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: white;
}

.extraProperties h1 {
    text-align: center;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

legend {
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
}

fieldset {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #666666;
    padding: 20px;
    background-image: linear-gradient(to right, #000000, #1a1a1a, #2d2d2d, #414141, #575757);
}

span {
    font-weight: bold;
}

#buttons {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.submit:hover {
    background-color: #4CAF50;
    color: white;
}

.reset {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.reset:hover {
    background-color: #f44336;
    color: white;
}

fieldset li {
    list-style-type: none;
}

#contactPage {
    background-image: linear-gradient(to bottom, #ffffff, #eaeaea, #d6d6d6, #c2c2c2, #aeaeae);
}

.other {
    float: left;
}

#formPage {
    color: white;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #666666;
    padding: 10px;
    background-image: linear-gradient(to right, #000000, #1a1a1a, #2d2d2d, #414141, #575757);
}